# Geospatial
rasterio==1.3.10
pyproj==3.6.1
shapely==2.0.4
geopandas==0.14.3
fiona==1.9.5

# Deep learning
torch==2.3.0
torchvision==0.18.0
transformers==4.41.0
datasets==2.19.0
accelerate==0.30.0
albumentations==1.4.3


# Data
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
Pillow==10.3.0
tqdm==4.66.4
pyyaml==6.0.1

# Visualisation & demo
gradio==4.31.0
matplotlib==3.9.0
folium==0.16.0
plotly==5.22.0

# Dev
python-dotenv==1.0.1
pytest==8.2.0
black==24.4.2
